<div class="container">

    <h1 class="d-flex justify-content-center">Library Management Service</h1>

    <nav class="navbar navbar-expand-sm bg-light navbar-dark">
    <ul class="navbar-nav">
        <li class="nav-item">
            <button routerLink="login"
            class="m-1 btn btn-light btn-outline-primary" Button>Log-in</button>
        </li>
        <li class="nav-item">
            <button routerLink="signup"
            class="m-1 btn btn-light btn-outline-primary" Button>Sign-Up</button>
        </li>
        <li class="nav-item">
            <button routerLink="book"
            class="m-1 btn btn-light btn-outline-primary" Button>BOOK</button>
        </li>
    </ul>
    </nav>

<router-outlet></router-outlet>

</div>